# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
LegoMindstorms/Main.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# IDE stuff
.metadata/
.recommenders/
RemoteSystemTempFiles/
.project
.classpath
.settings
.idea/*

# HP's strange Intellij stuff
LegoMindstorms/src/META-INF/
LegoMindstorms/src/ProgramStarter.java
LegoMindstorms/.idea/*
*.iml
LegoMindstorms/out/*
LegoMindstorms/src/echo-empty.sh

LegoMindstorms/src/edu/kit/lego08/Config.java
